@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    @{
        if (!ViewContext.HttpContext.User.Identity.IsAuthenticated)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Войти в кабинет</a>
        }
        else
        {
            <h1 class="display-4">
                @ViewContext.HttpContext.User.Claims.FirstOrDefault(claim => claim.Type == "dateNow")?.Value + @ViewContext.HttpContext.User.Identity.Name
            </h1>

            <a class="btn text-dark" asp-area="" asp-controller="Account" asp-action="ShowEvents">Показать заказы</a>

            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
        }
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
